.header_icon{
    margin-left:8%;
}
.headding {
    border-bottom: 1px solid #292828;
  }
@media screen and (max-width:375px) {
	.headding{
		display: none;
	}
    .logo{
        width: 100%;
    }
    
}