.Ads{
    background-color:hsl(120, 100%, 25%);
    color:white;
    height:40vh;
    margin-top:30px;
}
.blockquote{
    font-size: xx-large;
}
.heading{
    font-weight: 600;
    font-size: xx-large;
}