h1{
    text-align: center;
    padding-top:22px;
}
.heading{
    font-weight: 600;
    font-size: xx-large;
}
.about{
    color: #222;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 7px;
}
.introduction {
    margin: 0 auto 28px;
    color: rgba(0, 0, 0, 0.6);
    font-size: xx-large;
}
