.cards{
    /* margin-top: 31%; */
    /* background-image: url('../../../../assets/images/3dtree.png'); */
    
}
.latest-blog{
    text-align: center;
}
.card{
    cursor: pointer;
    text-decoration: none;
}
.Link{
    text-decoration: none;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12),0 4px 8px rgba(0,0,0,.06);
}
@media screen and (max-width:375px){
    .cards{
        display:grid;
    }
}