.subscribe{
    background-color:hsl(120, 100%, 25%);
    color:white;
}
.heading{
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vw;
}
@media screen and (max-width:375px){
    .sub-content{
        display:block;
    }

}